<div class="container">
    <h2 class="center">Subscriber Table for <%= subscriber.name %></h2>
<table class="table">
    <tbody>
        <tr>
            <td><strong>Name</strong></td>
            <td>
                <%= subscriber.name %>
            </td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>
                <%= subscriber.email %>
            </td>
        </tr>
        <tr>
            <td><strong>Zip Code</strong></td>
            <td>
                <%= subscriber.zipCode %>
            </td>
        </tr>
    </tbody>
</table>
</div>